@charset "utf-8";
/* OMATECH Xtreme Web Culture */
/*************************** EDITORA 4.2 ***************************/
/*******************************************************************/
/************************* ESTILS GENERICS *************************/
.column, .col_item, .wrap, .wrapper { display:block; overflow: hidden; float:none; }
.wrap { clear:both; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; display:block; }
#content .visible { overflow:visible; }
.block { display:block; }
.hidden, #content .hidden { display:none; margin:0; padding:0; }
.hidden_text { overflow:hidden; text-indent:-9999em; display:block; }
.nowrap { white-space:nowrap; }

/****************************************************************************/
/******************************** FORMULARIS ********************************/
#content .form fieldset {}
#content .form legend {}
#content .form .split { display:block; clear:both; border-width:0.1em 0; border-style:solid; }
#content .form label, #content label  { display:block; clear:both; }
#content .form input, #content .form textarea, #content .form select { font-weight:normal; display:block; border-width:0.1em; border-style:solid; }
#content .form input, #content .form textarea { padding:0.2em 0.4em; }
#content .form input[type="checkbox"] { border-width:0; padding:0; }
#content .form input[disabled="disabled"], #content .form input[readonly="readonly"], #content .form input.disabled, #content .form textarea[disabled="disabled"], #content .form textarea[readonly="readonly"], #content .form textarea.disabled { border:none; padding-left:0; }
#content .form select { padding:0.1em; }
#content .form .btn input, #content .form .btn span,
#content .btn input, #content .btn span, #content .btn a{ width:auto; }
#content .form .btn input, #content .btn input, #content .btn a { font-size:1.8em; font-weight:bold; display:inline; cursor:pointer; border:none; -border-radius:0.4em; -moz-border-radius:0.4em; -webkit-border-radius:0.4em;  }
#content .form .btn span, #content .btn span { display:inline-block; padding:0.4em 1.0em; -border-radius:0.6em; -moz-border-radius:0.6em; -webkit-border-radius:0.6em;  }
#content .form .btn span a, #content .btn span a { font-size:1.8em; font-weight:bold; text-decoration:none; }
/* mides */
#content .form input.w_20, #content .form textarea.w_20 { width:2.0em; }
#content .form input.w_25, #content .form textarea.w_25 { width:2.5em; }
#content .form input.w_30, #content .form textarea.w_30 { width:3.0em; }
#content .form input.w_40, #content .form textarea.w_40 { width:4.0em; }
#content .form input.w_50, #content .form textarea.w_50 { width:5.0em; }
#content .form input.w_60, #content .form textarea.w_60 { width:6.0em; }
#content .form input.w_70, #content .form textarea.w_70 { width:7.0em; }
#content .form input.w_75, #content .form textarea.w_75 { width:7.5em; }
#content .form input.w_80, #content .form textarea.w_80 { width:8.0em; }
#content .form input.w_90, #content .form textarea.w_90 { width:9.0em; }
#content .form input.w_100, #content .form textarea.w_100 { width:10.0em; }
#content .form input.w_110, #content .form textarea.w_110 { width:11.0em; }
#content .form input.w_120, #content .form textarea.w_120 { width:12.0em; }
#content .form input.w_125, #content .form textarea.w_125 { width:12.5em; }
#content .form input.w_130, #content .form textarea.w_130 { width:13.0em; }
#content .form input.w_140, #content .form textarea.w_140 { width:14.0em; }
#content .form input.w_150, #content .form textarea.w_150 { width:15.0em; }
#content .form input.w_160, #content .form textarea.w_160 { width:16.0em; }
#content .form input.w_170, #content .form textarea.w_170 { width:17.0em; }
#content .form input.w_175, #content .form textarea.w_175 { width:17.5em; }
#content .form input.w_180, #content .form textarea.w_180 { width:18.0em; }
#content .form input.w_190, #content .form textarea.w_190 { width:19.0em; }
#content .form input.w_200, #content .form textarea.w_200 { width:20.0em;}
#content .form input.w_200  { float:left;}
#content .form input.w_225, #content .form textarea.w_225 { width:22.5em; }
#content .form input.w_250, #content .form textarea.w_250 { width:25.0em; }
#content .form input.w_275, #content .form textarea.w_275 { width:27.5em; }
#content .form input.w_300, #content .form textarea.w_300 { width:30.0em; }
#content .form input.w_350, #content .form textarea.w_350 { width:35.0em; }
#content .form textarea.h_50 { height:5.0em; }
#content .form textarea.h_60 { height:6.0em; }
#content .form textarea.h_70 { height:7.0em; }
#content .form textarea.h_80 { height:8.0em; }
#content .form textarea.h_90 { height:9.0em; }
#content .form textarea.h_100 { height:10.0em; }
#content .form textarea.h_120 { height:12.0em; }
#content .form textarea.h_140 { height:14.0em; }
#content .form textarea.h_150 { height:15.0em; }
#content .form textarea.h_160 { height:16.0em; }
#content .form textarea.h_180 { height:18.0em; }
#content .form textarea.h_200 { height:20.0em; }
#content .form textarea.h_250 { height:25.0em; }

/*****************************************************************************/
/*********************************** LOGIN ***********************************/
.login { position:relative; width:68.0em; border-width:0.1em; border-style:solid; margin:2.8em auto 9.0em auto; padding:0; }
.login .form { padding:1.6em; }
.login .form fieldset {}
.login .form legend { font-size:2.4em; font-weight:bold; margin:0; padding:0 0 0.2em 0; }
.login .form .split { margin-bottom:2.2em; }
.login .form div { width:24.0em; margin:0 auto; }
.login .form p { text-align:left; margin-bottom:2.2em; }
.login .form label { font-size:1.6em; font-weight:bold; margin-bottom:0.4em; padding-left:0.2em; }
.login .form input, .login .form select { font-size:1.6em; }
.login .form input { width:14.0em; }
.login .form select { width:14.8em; }
.login .form p.btn { text-align:center; }
.login .form .btn input { padding:0.4em 1.4em; width:auto; display:inline; }
/* missatge */
.login .message { /*display:none;*/ position:absolute; top:7.4em; left:2.0em; width:18.0em; }
.login .message .arrow { position:absolute; top:1.0em; right:0; width:1.5em; height:2.1em; display:block; }
.login .message div { padding:1.2em 0.8em; margin-right:1.5em; }
.login .message .ico { display:block; overflow:hidden; text-indent:-9999em; margin:0 auto 1.2em auto; width:5.0em; height:5.0em; }
.login .message p { font-size:1.6em; font-weight:normal; }

/****************************************************************************/
/********************************* CERCADOR *********************************/
.searcher { padding:1.6em 1.6em 1.8em 1.6em; border-width:0.1em; border-style:solid; }
.searcher_height { height: 16em; }
.searcher .form, #content .searcher .form { position:relative; display:block; }
#content .searcher form.visible { display:block !important; }
.searcher .form fieldset {}
.searcher .form legend { font-size:1.8em; font-weight:bold; padding-bottom:0.4em; }
.searcher .form div { margin-left:-2.8em; padding:1.4em 0 1.8em 0; display:block; overflow:hidden; float:none; }
.searcher .form div p { float:left; margin-left:2.8em; }
.searcher .form div label { font-size:1.4em; font-weight:normal; margin-bottom:0.2em; padding-left:0.1em; }
.searcher .form div input { width:15em; }
.searcher .form div input, .searcher div select { font-size:1.3em; }
.searcher .form .adv_search { position:relative; }
.searcher .form .adv_search .split { margin:0.8em 0; }
.searcher .form .adv_search h3 { position:absolute; left:0; top:0; font-size:1.4em; font-weight:bold; }
.searcher .form .adv_search h3 a { text-decoration:none; display:block; padding-right:1.8em; }
.searcher .form .adv_search div.adv_hide { display:none; }
.searcher .form .adv_search div.adv_show { display:block; }
.searcher .form .adv_search div div { margin:0; padding:0; overflow:visible; }
.searcher .form .adv_search div div.p { position:relative; float:left; margin-left:2.8em; padding:0 2.8em 0 0; }
.searcher .form .adv_search div div.p p { float:none; margin-left:0; }
.searcher .form .adv_search div div.p span { position:absolute; right:0; bottom:0; }
.searcher .form .adv_search div div.p span a { width:2.7em; height:2.7em; display:block; overflow:hidden; text-indent:-9999em; }
.searcher .form .adv_search input, .searcher .form input#datepicker, .searcher input#datepicker { width:9.0em; }
.searcher .form .btn { position:absolute; top:5.6em; right:0; }
.searcher .form .btn2 { position:absolute; top:12em; right:0; }
.searcher .form .btn input,.searcher .form .btn2 input { padding:0.2em 0.4em; }
.searcher .form div.clear { margin:0; padding:0; }
.searcher .form div.popup-calendar { display:none; }

/*****************************************************************************/
/******************************* MINI CERCADOR *******************************/
.mini_searcher { padding:1.2em; border-width:0.1em; border-style:solid; }
.mini_searcher .form {}
.mini_searcher .form fieldset {}
.mini_searcher .form legend { font-size:1.8em; font-weight:bold; margin:0; padding:0 0 0.2em 0; }
.mini_searcher .form .split { margin-bottom:1.2em; }
.mini_searcher .form p { text-align:left; margin-bottom:1.2em; }
.mini_searcher .form label { font-size:1.4em; font-weight:normal; margin-bottom:0.4em; padding-left:0.2em; }
.mini_searcher .form input, .mini_searcher .form select { font-size:1.4em; }
.mini_searcher .form input { width:16.0em; }
.mini_searcher .form select { width:16.6em; }
.mini_searcher .form p.btn { text-align:right; margin:0 0.4em 0 0; }
.mini_searcher .form .btn input { font-size:1.8em; padding:0.2em 0.4em; width:auto; display:inline; }
/* boto */
.form .btn input:hover, .form .btn input:focus { background-color:#d3ce3d; }

/****************************************************/
/********************** TAULES **********************/
#content table .w_20 { width:2.0em; }
#content table .w_25 { width:2.5em; }
#content table .w_30 { width:3.0em; }
#content table .w_40 { width:4.0em; }
#content table .w_50 { width:5.0em; }
#content table .w_60 { width:6.0em; }
#content table .w_70 { width:7.0em; }
#content table .w_75 { width:7.5em; }
#content table .w_80 { width:8.0em; }
#content table .w_90 { width:9.0em; }
#content table .w_100 { width:10.0em; }
#content table .w_110 { width:11.0em; }
#content table .w_120 { width:12.0em; }
#content table .w_130 { width:13.0em; }
#content table .w_140 { width:14.0em; }
#content table .w_150 { width:15.0em; }
#content table .w_160 { width:16.0em; }
#content table .w_170 { width:17.0em; }
#content table .w_180 { width:18.0em; }
#content table .w_190 { width:19.0em; }
#content table .w_200 { width:20.0em; }
#content table .w_210 { width:21.0em; }
#content table .w_220 { width:22.0em; }
#content table .w_230 { width:23.0em; }
#content table .w_240 { width:24.0em; }
#content table .w_250 { width:25.0em; }
#content table .w_260 { width:26.0em; }
#content table .w_270 { width:27.0em; }
#content table .w_280 { width:28.0em; }
#content table .w_290 { width:29.0em; }
#content table .w_300 { width:30.0em; }
.maxw_150 { max-width:15.0em; }
/* text */
#content table .center { text-align:center; }
#content table .left { text-align:left; }
#content table .right { text-align:right; }
#content table .bold { font-weight:bold; }
/* estils compartits */
#content .tbl_items table { border:0; }
#content .tbl_items table th { text-align:right; }
#content .tbl_items table th strong { font-size:1.3em; }
#content .tbl_items table td { white-space:nowrap; }
#content .tbl_items table td.instance { white-space:normal; }
#content .tbl_items table th, #content .tbl_items table td { vertical-align:top; }
#content .tbl_items table td a { font-size:1.3em; text-decoration:none; }
#content .tbl_items table td.ico { width:1.8em; padding:0.6em 0; text-align:center; }
#content .tbl_items table td.ico a { width:2.0em; height:1.6em; display:block; overflow:hidden; margin:0 auto; text-indent:-9999em; font-size:1.0em; }
#content .tbl_items table .thead th { padding:0; }
#content .tbl_items table .thead th span { display:none; }
/* cursors */
#content .move_item { text-align:left; }
#content .move_item ul { display:block; overflow:hidden; float:none; width: 6.5em; }
#content .move_item li { display:block; float:left; overflow:hidden; width:0.8em; margin:0 0.3em; padding:0.2em 0; }
#content .move_item li.sep { margin-left:0.4em; padding-left:0.4em; border-left-width:0.1em; border-left-style:solid; }
#content .move_item li a, #content .tbl_items table td.move_item a,#content .move_item li span, #content .tbl_items table td.move_item span  { font-size:1.0em; width:0.8em; height:0.8em; display:block; overflow:hidden; text-indent:-9999em; text-align:left; }

/****************************************************************************/
/****************************** TAULA OBJECTES ******************************/
.tbl_objects {}
.tbl_objects table { border:0; }
.tbl_objects table th, .tbl_objects table td { padding:0.6em 0.2em; }
.tbl_objects table .even th, .tbl_objects table .even td { padding:1.2em 0.2em; }
.tbl_objects table td a, .tbl_objects table td span, .tbl_objects table th a, .tbl_objects table th span, .tbl_objects table th label { font-size:1.3em; }
.tbl_objects table td a, .tbl_objects table th a { text-decoration:none; }
.tbl_objects table td .status { margin:0 auto; font-size:1.0em; }
.tbl_objects table td .edi_tit a { font-size:1.0em; }
.tbl_objects table th { text-align:left; }
.tbl_objects table .thead th strong, .tbl_objects table .thead th label { font-size:1.4em; font-weight:bold; }
.tbl_objects table .thead th a { text-decoration:none; font-size:1.0em; }
.tbl_objects table a:hover, .tbl_objects table .thead a:hover { text-decoration:underline; }

/****************************************************************************/
/****************************** CAIXES SIDEBAR ******************************/
.box { padding:0.1em; border-width:0.1em; border-style:solid; }
.box .box_tit { position:relative; padding:0.6em 2.6em 0.6em 1.0em; }
.box .box_tit h2 { font-size:1.8em; font-weight:bold; }
.box .box_tit h2 a { text-decoration:none; }
.box .box_tit .arrow { position:absolute; top:1.2em; right:1.0em; width:1.5em; height:1.5em; }
.box .box_tit .arrow a { width:1.5em; height:1.5em; display:block; overflow:hidden; text-indent:-9999em; }
.box_show .box_content { display:block; }
.box_hide .box_content { display:none; }
.box .box_content { padding:0.6em 0.4em; }
.box .box_content table {}
.box .box_content table th { width:4.0em; }
.box .box_content table td { width:90.0em; }
.box .box_content table th, .box .box_content table td { padding:0.6em 0.4em; }
.box .box_content ul { padding:0.2em 0; }
.box .box_content ul li { display:block; padding:0.2em 0.4em; }
.box .box_content ul li a, .box .box_content span { font-size:1.3em; text-decoration:none; }
.box .box_content ul li a:hover {}

/*********************** ICONES ***********************/
#content .edi_tit ul { display:block; overflow:hidden; min-width: 11em; }
#content .edi_tit li.ico { float:left; width:2.6em; height:2.0em; margin-left:0.8em; }
#content .edi_tit li.ico a { width:2.4em; height:2.0em; display:block; overflow:hidden; text-indent:-9999em; }
/* estat */
#content .status { width:1.1em; height:1.1em; overflow:hidden; display:block; text-indent:-9999em; }

/*******************************************************************************/
/******************************* CAIXA PESTANYES *******************************/
.tab_box {}
/*** PESTANYES ***/
.tab_box .tabs {}
.tab_box .tabs ul { float:left; height:3.8em; margin-left:-0.1em; }
.tab_box .tabs li { float:left; margin-right:0.5em; width:9.0em; text-align:center; border-width:0.1em 0.1em 0 0.1em; border-style:solid; height:3.7em; }
.tab_box .tabs li.selected {  height:3.8em; z-index:50; position:relative; margin-left:0.1em; }
.tab_box .tabs li a { font-size:1.6em; font-weight:normal; display:block; text-align:center; padding:0.5em 0; text-decoration:none; }
.tab_box .tabs li.selected a { font-weight:bold; }
/*** CAIXA ***/
.tab_box .edi_box { border-width:0.1em; border-style:solid; }
.tab_box .edi_box .edi_tit { position:relative; padding:0.6em; margin:1.2em; }
.tab_box .edi_box .edi_tit h2 { font-size:1.4em; font-weight:bold; float:left; margin-top:0.2em; }
.tab_box .edi_box .edi_tit h2 a { text-decoration:none; }
.tab_box .edi_box .edi_tit ul { float:right; }
/*** PLAFO EDICIO ***/
.tab_box .edi_box .edi_panel { padding:0 1.2em; margin-top:-1.8em; }
#content .tab_box .edi_box .edi_panel .row { border-top-width:0.1em; border-top-style:solid; margin-top:-0.1em; }
#content .tab_box .edi_box .edi_panel .column { width:31.6em; margin-top:0; }
/* Formulari */
.tab_box .edi_box .edi_panel .form {}
.tab_box .edi_box .edi_panel .form label, .tab_box .edi_box .edi_panel label { font-size:1.4em; font-weight:normal; margin-bottom:0.4em; }
#content .tab_box .edi_box .edi_panel .form .check label, #content .tab_box .edi_box .edi_panel .form .check input,
#content .tab_box .edi_box .edi_panel .check label, #content .tab_box .edi_box .edi_panel .check input
{ display:inline; }
#content .tab_box .edi_box .edi_panel .form .check input, #content .tab_box .edi_box .edi_panel .check input { border:none; padding:0; }
.tab_box .edi_box .edi_panel .form input, .tab_box .edi_box .edi_panel .form textarea, .tab_box .edi_box .edi_panel .form select,
.tab_box .edi_box .edi_panel input, .tab_box .edi_box .edi_panel textarea, .tab_box .edi_box .edi_panel select{ font-size:1.2em; min-width: 130px;/* margin-bottom:1.2em;*/ background-color: #FFFFFF; border: 1px solid #CACACA}
.tab_box .edi_box .edi_panel .form input[disabled="disabled"] { /*font-size:1.0em;*/ }
.tab_box .edi_box .edi_panel .btns_row { padding-top:1.8em; }
/* icones */
.tab_box .edi_box .edi_panel .form .ico_field, .tab_box .edi_box .edi_panel .ico_field { position:relative; float:left; padding-right:3.6em; display:block; }
.tab_box .edi_box .edi_panel .form .ico_field span, .tab_box .edi_box .edi_panel .ico_field span { position:absolute; right:0; }
/* calendari */
.tab_box .edi_box .edi_panel .form .calendar { bottom:0; width:2.7em; height:2.7em; }
.tab_box .edi_box .edi_panel .form .calendar a { width:2.7em; height:2.7em; display:block; overflow:hidden; text-indent:-9999em; }
/* estat */
.tab_box .edi_box .edi_panel .status { bottom:0.6em; }
/* info */
.tab_box .edi_box .edi_panel .label { margin-top:-0.2em; }
#content .tab_box .edi_box .edi_panel .label label { float:left; }
.tab_box .edi_box .edi_panel .label .info { float:left; width:1.5em; height:1.5em; font-size:1.0em; overflow:hidden; text-indent:-9999em; margin-left:0.4em; }
/************************/
/* missatge desplegable */
#content .edi_panel .col_item, #content .edi_panel .column { overflow:visible; }
#content .edi_panel .btns_row .col_item, #content .edi_panel .btns_row .column, #content .edi_panel .btns_row { overflow:hidden; }
#content .edi_panel .btns_row { clear:both; }
#content .info_alert { position:relative; display:inline-block; }
#content .info_alert .info_bubble { position:absolute; top:-1.6em; padding-left:1.5em; display:none; z-index:100; }
#content .alert_admin .info_bubble { left:0.8em; }
#content .alert_user .info_bubble { left:1.8em; }
#content .info_alert .info_bubble .arrow { position:absolute; top:1.5em; left:0; width:1.5em; height:2.1em; font-size:1.0em; padding:0; margin:0; display:block; overflow:hidden; }
#content .info_alert .info_bubble .text { font-size:1.2em; font-weight:normal; padding:0.4em; width:13em; min-height:4.0em; display:block; }
#content .info_alert:hover .info_bubble { display:block; }
/* llista d'icones */
.tab_box .edi_box .edi_panel .icos_list { position:relative; height: 25px; }
.tab_box .edi_box .edi_panel .icos_list ul { position:absolute; right:0; top:2.0em; float:right; }
.tab_box .edi_box .edi_panel .icos_list li.ico, .col_item a.ico { float:left; width:2.0em; height:2.0em; margin-left:0.4em; }
.col_item a.ico { display: block; }
.tab_box .edi_box .edi_panel .icos_list li.ico a, .tbl_objects table td ul.icos_list li.ico a { display:block; overflow:hidden; width:2.0em; height:2.0em; text-indent:-9999em; }
#content .tab_box .edi_box .edi_panel .icos_list li.info_admin { width:0.6em; height:0.6em; margin-right:0.2em; }
#content .tab_box .edi_box .edi_panel .icos_list li.info_admin a { width:0.6em; height:0.7em; margin-top:0.6em; z-index:2; }
#content .tab_box .edi_box .edi_panel .icos_list li.info a { z-index:1; }
.tab_box .edi_box .edi_panel .icos_list p { margin-bottom:0.5em; }
/* relacionats */
.tab_box .edi_box .edi_panel .tit_rel .label, .tab_box .edi_box .edi_panel .tit_rel label, .tab_box .edi_box .edi_panel .icos_list .label, .tab_box .edi_box .edi_panel .icos_list label { font-size:1.4em; font-weight:normal; float:left; margin-top:0.1em; }
.tab_box .edi_box .edi_panel .tit_rel ul, .tab_box .edi_box .edi_panel .icos_list ul { float:left; position:static; }
/* foto */
.tab_box .edi_box .edi_panel .photo {}
.tab_box .edi_box .edi_panel .photo img { float:left; padding:0.2em; margin-top:0.2em; border-width:0.1em; border-style:solid; margin-right:1.2em; width: 100px; }
.tab_box .edi_box .edi_panel .photo dl { font-size:1.3em; overflow:hidden; }
.tab_box .edi_box .edi_panel .photo dt { float:left; margin-right:0.4em; }
.tab_box .edi_box .edi_panel .photo dd { margin-bottom:0.4em; margin-left:0; clear:right; float:none; }
.tab_box .edi_box .edi_panel .photo dd.real { color:#409aff; }
/* taules de relacionats */
.tab_box .edi_box .edi_panel .tbl_rel { /* no fa falta margin-top:3em; */ }
.tab_box .edi_box .edi_panel .tbl_rel table {}
.tab_box .edi_box .edi_panel .tbl_rel table th {}
.tab_box .edi_box .edi_panel .tbl_rel table th strong {}
.tab_box .edi_box .edi_panel .tbl_rel table td {}
.tab_box .edi_box .edi_panel .tbl_rel table th, .tab_box .edi_box .edi_panel .tbl_rel table td { padding:0.2em; }
.tab_box .edi_box .edi_panel .tbl_rel table td .status { display:block; }
.tab_box .edi_box .edi_panel .tbl_rel table td a { }
.tab_box .edi_box .edi_panel .tbl_rel table td.ico {}
.tab_box .edi_box .edi_panel .tbl_rel table td.ico a {}
.tab_box .edi_box .edi_panel .tbl_rel table .thead th {}
.tab_box .edi_box .edi_panel .tbl_rel table .thead th span {}
.tab_box .edi_box .edi_panel .tbl_rel table td.move_item { padding-left:0; }
/* botons */
.tab_box .edi_box .edi_panel .form .btn_back, .tab_box .edi_box .edi_panel .btn_back { font-size:1.6em; float:left; }
.tab_box .edi_box .edi_panel .form .btn_back a, .tab_box .edi_box .edi_panel .btn_back a { font-size:1.0em; padding:0 0 0.2em 1.6em; display:block; }
.tab_box .edi_box .edi_panel .form .btn, .tab_box .edi_box .edi_panel .btn { text-align:right; }
.tab_box .edi_box .edi_panel .photo dd.real { font-weight:bold; }

/* BOTO TANCAR */
#content .btn_close, #browse-popup1 .btn_close, #jsupload .btn_close { width:2.0em; height:2.0em; display:block; font-size:1.0em; }
#content .btn_close a, #browse-popup1 .btn_close a, #jsupload .btn_close a { width:2.0em; height:2.0em; display:block; overflow:hidden; text-indent:-9999em; }
#browse-popup1 a.attach, #jsupload a.attach { width:2.0em; height:2.0em; overflow:hidden; text-indent:-9999em; font-size:1.0em; display: block; float: right;}

/***************************************************************/
/*********************** MISSATGE ALERTA ***********************/
.alert { position:relative; padding:1.0em 1.6em 1.0em 8.2em; }
.alert.list { margin: 1em 0 !important; }
.alert span { position:absolute; top:1.0em; left:1.6em; width:5.0em; height:5.0em; font-size:1.0em; display:block; }
.alert.list span { width:3.5em; height:3.5em; top:0.8em;}
.alert_right.list span img,.alert_error.list span img { display: none;}
.alert div { display:table-cell; vertical-align:middle; height:5.0em; }
.alert.list div { display:table-cell; vertical-align:middle; height:3.0em; }
.alert div p { font-size:1.6em; font-weight:normal; display:inline-block; vertical-align:middle; }
.alert .btn_close { position:absolute; top:0.6em; right:0.6em; }
.alert.saving .btn_close { display: none !important; }

/*********************************************************/
/*********************** PAGINACIO ***********************/
.pager { width:51.0em; margin-top:1.0em; }
.pager h2 { font-size:1.4em; font-weight:bold; float:left; }
.pager ul { float:right; }
.pager ul li { font-size:1.4em; margin-left:5.0em; display:inline;  }
.pager ul li.prev:before { content:'«'; }
.pager ul li.next:after { content:'»'; }
.pager ul li a { padding:0 0.2em; }

/********************************************************/
/************************ POPUPS ************************/
#jsupload { width:35em; height:15em; border:0.1em solid #CECECE; position:absolute; background:#ffffff; z-index:99999 }
#jsupload .upload_content { padding: 2em; }
#jsupload .btn_close { position:absolute; top:1.0em; right:1.0em; }
#jsupload label { font-size:1.4em; font-weight:normal; display:block; margin:2em 0 0.6em 0; clear:both; color: #1F1F1F; }
#jsupload p.btn input, #clone-form p.btn input {
	background-color: #429CFF; color: #FFFFFF; border-radius: 0.4em 0.4em 0.4em 0.4em; cursor: pointer; font-size: 1.8em;
	font-weight: bold; width: auto; border-color: #B9B9B9; padding: 0.2em 0.4em; border-style: solid; border-width: 0.1em; display: block; margin-top: 0.7em;
}

#browse-popup1 #image_content .btn .boto20{width: 100px;}

#browse-popup1 { position:absolute; width:38.0em; border-width:0.1em; border-style:solid; background-color: #FFFFFF; border-color: #cecece; display: none; }
#browse-popup1 .btn_close { position:absolute; top:1.0em; right:1.0em; }
#browse-popup1 #image_content { padding:4.0em 1.0em 1.0em 1.0em; }
#browse-popup1 #image_content form {}
#browse-popup1 #image_content p {}
#browse-popup1 #image_content label, #browse-popup1 #image_content .label { font-size:1.4em; font-weight:normal; display:block; margin-bottom:0.6em; clear:both; color:#1f1f1f; }
#browse-popup1 #image_content input, #browse-popup1 #image_content select { font-size:1.4em; width:19.0em; margin-bottom:0.8em; }
#browse-popup1 #image_content input { height:1.6em; }
#browse-popup1 #image_content input[type='checkbox'] { width: 1.6em; margin: 0;}
#browse-popup1 #image_content p.ico input, #browse-popup1 #image_content p.ico select, #content #browse-popup1 #image_content p.ico input, #content #browse-popup1 #image_content p.ico select { float:left; display:inline; clear:none; margin-right:0.6em; }
#browse-popup1 #image_content p.ico span.ico { width:2.0em; height:2.0em; overflow:hidden; display:inline-block; margin-top:0.4em; }
#browse-popup1 #image_content p.ico span.ico input { width:2.0em; height:2.0em; overflow:hidden; text-indent:-9999em; display:block; background-image: url("img/sprite_edi.png"); background-position: -60px -90px; background-color: #FFFFFF; border: none;}
#browse-popup1 #image_content .btn { text-align:right; margin-right:4.2em; }
#browse-popup1 #image_content .btn input { height:auto; }
#browse-popup1 #image_content .scroll_box { overflow-x:hidden; overflow-y:scroll; height:33.0em; width:36.0em; margin:0 auto; border-width:0.1em 0; border-style:solid; margin-top:1.2em; }
#browse-popup1 #image_content .scroll_box ul {}
#browse-popup1 #image_content .scroll_box ul li { font-size:1.2em; border-top-width:0.1em; border-top-style:solid; padding:0.8em 0.4em 0.8em 0.1em; }
#browse-popup1 #image_content span { font-size:1.2em; color:#5e5e5e;}
#browse-popup1 #image_content .scroll_box ul li:first-child { border-top:none; }
#browse-popup1 #image_content .scroll_box ul li img, #browse-popup1 #image_content img { padding:0.2em; border-width:0.1em; border-style:solid; margin-right:0.8em; vertical-align:top; width: 70px;}
#browse-popup1 #image_content span.ico, #browse-popup1 #image_content a.ico { background-image:url(img/sprite_edi.png); background-repeat:no-repeat; }
#browse-popup1 #image_content p.ico span.search { background-position:-60px -90px; }
#browse-popup1 #image_content a.attach { background-position:-30px -90px; }
#browse-popup1 #image_content .scroll_box { border-color:#e9e9e9; }
#browse-popup1 #image_content ul li, #browse-popup1 #image_content span { border-top-color:#e9e9e9; color:#5e5e5e; vertical-align: top;}
#browse-popup1 #image_content ul li .bg { background-color:#f7f7f7; }
#browse-popup1 #image_content ul li img, #browse-popup1 #image_content img { border-color:#b9b9b9; }
#browse-popup1 #image_content span.red{color:red; font-size: 1.1em;}
